{# Layout #}
<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie8 lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="sv-SE"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Dan Nilsson | Digital Media Direction">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block page_titel %}{{ page_title }}{% endblock %} | MAG Admin</title>
    <link rel="stylesheet" href="//cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="/css/dest/style.min.css">
  </head>
  <body class="{{ navigation.current_url | trim('/') }}">
    <!--[if lt IE 9]>
      <p class="chromeframe veneer">Hej!<br />Sajten funkar utmärkt, men funkar sådär på gammalmodiga webbläsare.<br />
      Vi vill tipsa dig om att ladda hem en version av någon trevligare webbläsare.</a></p>
    <![endif]-->

    <main class="container">
      <div class="row flex-justify-center">
        <div class="stub" style="width: 75%;">
          <h1>MAG Admin</h1>
          <hr />
          <h2>{{ page_title }}</h2>

          {% if flash.alert is defined %}
          <p class="alert"><code>{{ flash.alert }}</code></p>
          {% endif %}

          {% if flash.error is defined %}
          <p class="error">{{ flash.error }}</p>
          {% endif %}

          {% if flash.notice is defined %}
          <p class="notice">{{ flash.notice }}</p>
          {% endif %}

          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    {%- block js_include_end -%}{%- endblock -%}
    {# <script src="{{ baseUrl() }}/js/all.js?rev=20180515"></script>
    <script src="//localhost:35729/livereload.js"></script> #}
  </body>
</html>
