{% extends 'layout-metro.twig' %}

{% block page_titel %}{{ page_title }} | MAG Admin{% endblock %}

{% block content %}
<h1>MAG Admin</h1>
<hr />
<h2>{{ page_title }}</h2>

{% if flash.error %}
<p class="error">{{ flash.error }}</p>
{% endif %}

<form data-role="validator" data-interactive-check="true" method="post" action="/">
	<div class="form-group">
		<label for="sku">SKU</label>
		<input type="text" id="sku" name="sku" data-role="input" data-validate="required minlength=3" value={{ product.sku }}>
		<span class="invalid_feedback">SKU måste var minst 3 tecken långt</span>
	</div>
	<div class="form-group">
		<label for="name">Namn</label>
		<input type="text" id="name" name="name" data-role="input" data-validate="required" value={{ product.name }}>
		<span class="invalid_feedback">Produktnamn saknas</span>
	</div>
	<div class="form-group">
		<label for="price">Pris</label>
		<input type="number" id="price" name="price" data-role="input" data-validate="required number" value={{ product.price }}>
		<span class="invalid_feedback">Produktpris saknas</span>
	</div>
	<div class="form-group">
		<button class="button success">Spara</button>

		{% if product.sku %}
		<button class="button alert">Radera produkt</button>
		<input type="hidden" name="_METHOD" value="DELETE">
		{% endif %}

	</div>
</form>

{% if flash.notice %}
<p>{{ flash.notice }}</p>
{% endif %}

{% endblock %}
